@page
@model LayoutTemplateWebApp.Pages.Option1Model
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis próximos eventos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="title-container">
        <h1 class="center-title">Mis próximos eventos</h1>
    </div>
    <div class="event">
        <div class="event-image">
            <img src="imagen_evento1.jpg" alt="Imagen del evento 1">
        </div>
        <div class="event-details">
            <h4>Evento 1:</h4>
            <p><strong>Título:</strong> Charla Sobre Diseño de Software</p>
            <p><strong>Hora:</strong> 10:00 AM</p>
            <p><strong>Lugar:</strong> Sala de conferencias</p>
            <p><strong>Cupo Máximo:</strong> 100</p>
            <p><strong>Organizador:</strong> ASODEC</p>
        </div>
    </div>
    <div class="event">
        <div class="event-image">
            <img src="imagen_evento2.jpg" alt="Imagen del evento 2">
        </div>
        <div class="event-details">
            <h4>Evento 2:</h4>
            <p><strong>Título:</strong> Charla Sobre Administracion de proyectos</p>
            <p><strong>Hora:</strong> 11:00 AM</p>
            <p><strong>Lugar:</strong> Sala de conferencias</p>
            <p><strong>Cupo Máximo:</strong> 50</p>
            <p><strong>Organizador:</strong> ASODEC</p>
        </div>
    </div>
</body>
</html>